proxmox = {
  endpoint  = "https://proxmox.example.com:8006"
  insecure  = false
  api_token = "root@pam!terraform=REPLACE_ME"
  node      = "proxmox-1"
  ssh = {
    agent            = false
    username         = "terraform"
    private_key_path = "~/.ssh/terraform_id_ed25519"
  }
}

cluster = {
  name                       = "talos"
  endpoint                   = "10.0.0.100"
  gateway                    = "10.0.0.1"
  subnet_cidr                = "10.0.0.0/24"
  proxmox_nodes              = ["proxmox-1"]
  proxmox_datastore          = "vms"
  bridge                     = "vmbr1"
  controlplane_count         = 3
  worker_count               = 3
  controlplane_first_hostnum = 101
  worker_first_hostnum       = 111
  controlplane_vm_id_start   = 200
  worker_vm_id_start         = 300
  controlplane_cpu           = 4
  controlplane_memory_mb     = 8192
  worker_cpu                 = 4
  worker_memory_mb           = 8192
  disk_size_gb               = 20
}

image = {
  factory_url  = "https://factory.talos.dev"
  schematic_id = "REPLACE_ME"
  version      = "v1.12.2"
  arch         = "amd64"
  platform     = "nocloud"
  datastore_id = "templates"
}

kubernetes_version = "1.35.0"

vms = {
  "ubuntu-01" = {
    node_name          = "proxmox-1"
    vm_id              = 400
    cpu                = 2
    memory_mb          = 4096
    datastore_id       = "vms"
    disk_size_gb       = 20
    bridge             = "vmbr0"
    ip_address         = "144.76.195.209/32"
    gateway            = "144.76.195.220"
    image_url          = "https://cloud-images.ubuntu.com/noble/current/noble-server-cloudimg-amd64.img"
    image_file_name    = "ubuntu-24.04-cloudimg-amd64.img"
    image_datastore_id = "templates"
  }
}
